packages:
  rpm:
    epel: http://download-ib01.fedoraproject.org/pub/epel/7/aarch64/
  yum:
    curl: []
    wget: []

commands:
  01_download_libsass:
    cwd: "/tmp"
    command: "wget https://download-ib01.fedoraproject.org/pub/epel/7/x86_64/Packages/l/libsass-3.4.5-4.el7.x86_64.rpm"
  02_install_libsass:
    cwd: "/tmp"
    command: "sudo yum install libsass-3.4.5-4.el7.x86_64.rpm -y"
    ignoreErrors: true
  03_download_sassc:
    cwd: "/tmp"
    command: "wget https://download-ib01.fedoraproject.org/pub/epel/7/x86_64/Packages/s/sassc-3.4.5-2.el7.x86_64.rpm"
  04_install_sassc:
    cwd: "/tmp"
    command: "sudo yum install sassc-3.4.5-2.el7.x86_64.rpm -y"
    ignoreErrors: true
