.white-card {
  /* Card Sizing */
  width: 2.5in;
  height: 4in;
  border-radius: 0.25in;

  /* Display Properties */
  float: center;
  margin: 10px;
  /* Color information */
  //border: 3px solid black;
  color: black;
  background: white;
  /*font information*/
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 24px;
  padding-left: 7%;
  padding-right: 7%;
  word-wrap: break-word;
}

.black-card {
  /* Card Sizing */
  width: 2.5in;
  height: 4in;
  border-radius: 0.25in;

  /* Display Properties */
  float: center;
  margin: 10px;
  /* Color information */
  border: 3px solid black;
  color: white;
  background: black;
  /*font information*/
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 24px;
  padding-left: 7%;
  padding-right: 7%;
  word-wrap: break-word;
}
