.root {
  flex-grow: 1;
}

.title {
  flex-grow: 1;
  text-transform: uppercase;
  align-content: center;
}

.MuiToolbar-regular {
  background-color: white;
}

.MuiTypography-colorTextPrimary {
  color: black;
}
