<!DOCTYPE html>
<html>
  <head>
    <title>Isolation Games</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  <div id="app" style="width: 100%;"></div>
    <%= yield %>
  </body>
</html>
